<p id="notice"><%= notice %></p>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<%= form_with url: "product/upload", multipart: true do |f| %>
  <%= f.label  "Укажите файл для загрузки (.csv)" %>
  <%= f.file_field :file %>
  <%= f.submit "Upload" %>
<% end %>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Price list</th>
      <th>Brand</th>
      <th>Code</th>
      <th>Stock</th>
      <th>Cost</th>
      <th>Name</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.price_list %></td>
        <td><%= product.brand %></td>
        <td><%= product.code %></td>
        <td><%= product.stock %></td>
        <td><%= product.cost %></td>
        <td><%= product.name %></td>
        <td><%= product.created_at %></td>
        <td><%= product.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
